@{
    ViewData["Title"] = "Sy.N.G.I.O";
}

@model List<SyngioViewSystem>

<h2>System, Network, Group, Instrument, &amp; Organization</h2>

<div class="container align-content-center">
    <div class="row">
        @foreach (var sys in Model)
        {
            <div class="col-3">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">@sys.System</h5>
                        <h6 class="card-subtitle">Networks</h6>
                        <p class="card-text">@sys.Network_Linked / @sys.Networks</p>
                        <div class="progress bg-warning" role="progressbar">

                            <div class="progress-bar" style="width: @sys.Progress_Network"></div>
                        </div>

                        <h6 class="card-subtitle mt-3">Instruments</h6>
                        <p class="card-text">@sys.Instrument_Linked / @sys.Instruments</p>
                        <div class="progress bg-warning" role="progressbar">

                            <div class="progress-bar" style="width: @sys.Progress_Instrument"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>