@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Network Details";
}
@model List<Syngio>


@{
    var NetworkInfo = Model[0];
}
<!--Display Single Network Info-->
<div class="container shadow p-3 g-3">
    <div class="row">
        <div class="col">
            <h1>@NetworkInfo.NetworkName</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">IQX System:</div>
        <div class="col-4">@NetworkInfo.System</div>
        <div class="col-2">Network Id:</div>
        <div class="col-4">@NetworkInfo.NetworkId</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h4>IQX Link Status</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2">Account Number:</div>
        <div class="col-4">@NetworkInfo.AccountNumber</div>
        <div class="col-2">Account GEIS:</div>
        <div class="col-4">@NetworkInfo.LinkedAccountGuid</div>
    </div>
    <div class="row">
        <div class="col-2">Street:</div>
        <div class="col-4">@NetworkInfo.Street</div>
    </div>
    <div class="row">
        <div class="col-2">City:</div>
        <div class="col-4">@NetworkInfo.City</div>
    </div>
</div>

<table class="table mt-5">
    <tr>
        <th class="col-2">Instrument Group</th>
        <th class="col-2">Serial Number</th>
        <th class="col-3">Instrument Name</th>
        <th class="col-2">IQX Contract</th>
        <th class="col-3">Options</th>
    </tr>
    @foreach (Syngio m in Model)
    {
        <tr>
            <td>@m.InstrumentGroup</td>
            <td>@m.SerialNumber</td>
            <td>@m.InstrumentName</td>
            <td>
                @if (@m.ContractNumber != null)
                {
                    <a role="button" asp-controller="ContractObject" asp-action="ByContract" asp-route-ContractNumber="@m.ContractNumber"><i class="fa-solid fa-file-contract text-black"></i></a>
                    @m.ContractNumber
                }
            </td>
            <td>
                <a><i class="fa-solid fa-circle-question text-primary"></i>Check</a>
                <a><i class="fa-solid fa-circle-info text-info"></i>Details</a>
            </td>
        </tr>
    }
</table>
