@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Network Details";
}
@model List<Syngio>


@{
    var NetworkInfo = Model[0];
}
<!--Display Single Network Info-->
<div class="container shadow p-3 g-3">
    <div class="row">
        <div class="col">
            <h1>@NetworkInfo.NetworkName</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">IQX System:</div>
        <div class="col-4">@NetworkInfo.System</div>
        <div class="col-2">Network Id:</div>
        <div class="col-4">@NetworkInfo.NetworkId</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <h4>IQX Link Status</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2">Account Number:</div>
        <div class="col-4">@NetworkInfo.AccountNumber</div>
        <div class="col-2">Account GEIS:</div>
        <div class="col-4">@NetworkInfo.LinkedAccountGuid</div>
    </div>
    <div class="row">
        <div class="col-2">Street:</div>
        <div class="col-4">@NetworkInfo.Street</div>
    </div>
    <div class="row">
        <div class="col-2">City:</div>
        <div class="col-4">@NetworkInfo.City</div>
    </div>
</div>

<table class="table mt-5">
    <tr>
        <th>Group</th>
        <th>Serial Number</th>
        <th>Instrument Name</th>
        <th>Options</th>
    </tr>
    @foreach (Syngio m in Model)
    {
        <tr>
            <td>@m.InstrumentGroup</td>
            <td>@m.SerialNumber</td>
            <td>@m.InstrumentName</td>
        </tr>
    }
</table>
