@using System.Text
@{
    ViewData["Title"] = "Network Details";
}
@model List<InstrumentLinkStatus>


@{
    var NetworkInfo = Model[0];
}
<!--Display Single Network Info-->
<div class="container shadow p-3 g-3">
    <div class="row">
        <div class="col-7">
            <h4>
                <i class="fa fa-globe"></i>
                @NetworkInfo.System
                <i class="fa fa-chevron-right"></i>

                <i class="fa fa-hashtag"></i>
                @NetworkInfo.NetworkId
                <i class="fa fa-network-wired"></i>
                @NetworkInfo.NetworkName

            </h4>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#networkShare">
                <i class="fa fa-share"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="networkShare" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Share Network Info</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body font-monospace">

<pre>@NetworkInfo.System \ [@NetworkInfo.NetworkId] @NetworkInfo.NetworkName</pre>
                            @if (NetworkInfo.ConnectedTo is null)
                            {
<pre>[WARNING] IQX NOT CONNECTED</pre>                                
                            }
                            else
                            {
<pre>&nbsp;- Connected To:
&lt;@NetworkInfo.ConnectedTo.AccountNumber&gt; @NetworkInfo.ConnectedTo.Name
 Street: @NetworkInfo.ConnectedTo.Street
   City: @NetworkInfo.ConnectedTo.City
Country: @NetworkInfo.ConnectedTo.Country</pre>
                            }
<pre>Instruments:</pre>
                            @{
                                StringBuilder NetworkInstListSb = new();
                            }
                            @foreach (InstrumentLinkStatus item in Model)
                            {
                                if (string.IsNullOrEmpty(item.SerialNumber))
                                {
                                    NetworkInstListSb.AppendLine(string.Format("{0,-16} {1}",
                                        "<Empty Group>", item.InstrumentGroup));
                                }
                                else
                                {
                                    NetworkInstListSb.AppendLine(string.Format("{0,-16} {1}", item.SerialNumber,        item.InstrumentGroup));
                                }
                            }
                            <pre>@NetworkInstListSb.ToString()</pre>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <h3 class="text-center">
                <i class="fa fa-up-down"></i>
            </h3>
        </div>
    </div>
    @if (NetworkInfo.ConnectedTo is not null && NetworkInfo.LinkedAccount != default)
    {
        <div class="row mt-4">
            <div class="col">

                <h4>
                    <i class="fa fa-building-circle-check"></i>
                    @NetworkInfo.ConnectedTo.AccountNumber

                    <i class="fa fa-diamond"></i>
                    @NetworkInfo.ConnectedTo.Name
                </h4>
            </div>
        </div>
        <div class="row">
            <h4>
                <i class="fa fa-qrcode"></i>
                <code>@NetworkInfo.ConnectedTo.GeisGuid</code>
            </h4>
        </div>
        <div class="row">
            <div class="col-2">Street:</div>
            <div class="col-4">@NetworkInfo.ConnectedTo.Street</div>
        </div>
        <div class="row">
            <div class="col-2">City:</div>
            <div class="col-4">@NetworkInfo.ConnectedTo.City</div>
        </div>
        <div class="row">
            <div class="col-2">Region:</div>
            <div class="col-4">@NetworkInfo.ConnectedTo.Region \ @NetworkInfo.ConnectedTo.Country</div>
        </div>
    }
    else if (0 == (NetworkInfo.StatusFlag & (VinlkStatus.LinkedToZero | VinlkStatus.LinkedToNull)))
    {
        <div class="row">
            <div class="col-3">
                <h4 class="text-warning bg-secondary ps-2 pt-4 pb-2">Connected to Unknown</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">

                <h4 class="text-secondary">
                    <i class="fa fa-building-circle-check"></i>
                    0000000

                    <i class="fa fa-diamond"></i>
                    UNKOWN
                </h4>
            </div>
        </div>
        <div class="row">
            <h4>
                <i class="fa fa-qrcode"></i>
                <code>@NetworkInfo.LinkedAccount</code>
            </h4>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-3">
                <h4 class="text-danger bg-secondary ps-2 pt-4 pb-2">
                    Not Connected
                </h4>
            </div>
        </div>
    }

    
</div>

<table class="table mt-5">
    <tr>
        <th class="col-2">Instrument Group</th>
        <th class="col-2">Serial Number</th>
        <th class="col-3">Instrument Name</th>
        <th class="col-2">IQX Contract</th>
        <th class="col-3">Options</th>
    </tr>
    @foreach (InstrumentLinkStatus m in Model)
    {
        <tr>
            <td>@m.InstrumentGroup</td>
            <td>@m.SerialNumber</td>
            <td>@m.InstrumentName</td>
            <td>
                @if (@m.ConnectedTo != null)
                {
                    <a role="button" asp-controller="ContractObject" asp-action="ByContract" asp-route-ContractNumber="@m.ContractNumber"><i class="fa-solid fa-file-contract text-black"></i></a>
                    @m.ContractNumber
                }
            </td>
            <td>
                <a><i class="fa-solid fa-circle-question text-primary"></i>Check</a>
                <a><i class="fa-solid fa-circle-info text-info"></i>Details</a>
            </td>
        </tr>
    }
</table>
