@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Syngio Upload";
    string[] SystemsToChoose = { "Pacific", "China", "Pacific02" };
}
@model NetworkCsvUploadViewModel
<div class="container">

    <h1 class="text-center">Upload Syngio Binary Files</h1>

    <div class="col col-8 justify-content-center">
        Login to IQX backend server and make sure the file <i>SELECT_INST_GEIS.sql</i> exists.
    </div>

    <div class="bg-dark text-white pt-1 ps-5">
        <pre>
        <code>
SELECT
    DB_NAME() AS [System],
    GETDATE() AS [Query Timestamp],
    [NTWK].[Name] AS [Network Name],
    [NTWK].[NetworkID],
    LOWER([NTWK].[OrganisationID]) AS [GEIS GUID],
    [GRUP].[Name] AS [Instrument Group],
    [INST].[SerialNumber] AS [Instrument SN],
    [INST].[Name] AS [Instrument Name]
FROM
    [tblMfCdInstrument] AS [INST]
    FULL OUTER JOIN [tblMfCdInstrumentGroup] AS [GRUP]
                ON [INST].[InstrumentGroupLogicalID] = [GRUP].[InstrumentGroupLogicalID]
    FULL OUTER JOIN [tblMfCdNetwork] AS [NTWK]
                ON [NTWK].[NetworkID] = [GRUP].[NetworkID]
WHERE
    ([INST].[Obsolete] = 0 OR [INST].[Obsolete] IS NULL)
    AND ([NTWK].[Obsolete] = 0 OR [NTWK].[Obsolete] IS NULL)
    AND ([GRUP].[Obsolete] = 0 OR [GRUP].[Obsolete] IS NULL)
ORDER BY
        [NTWK].[Name], [GRUP].[Name]
        </code>
    </pre>
    </div>

    <div class="col col-8 justify-content-center">
        Now execute the below command:
    </div>

    <div class="row">
        <h3>Select Database Region:</h3>
    </div>

    <div class="row mb-3">
        @for(int i = 0; i < SystemsToChoose.Length; i++)
        {
            string eid = "opt-stc-" + i;
            string strOptLabel = SystemsToChoose[i];
            <div class="col-2">
                @if(i == 0)
                {
                    <input type="radio" class="btn-check" name="opt-sys-sel" id="@eid" autocomplete="off" value="@strOptLabel">
                }
                else
                {

                    <input type="radio" class="btn-check" name="opt-sys-sel" id="@eid" autocomplete="off" value="@strOptLabel">
                }
                <label class="btn w-100" for="@eid">@strOptLabel</label>
            </div>
        }
    </div>

    <div class="bg-dark text-white pt-1 ps-5">
        <pre><code id="pre-cod-sqlcmd"></code></pre>
    </div>

    <div>
        This procedure runs for some time depending on the size of the query. Once it's done, look for the exported file. It should be ready to upload.
    </div>

    <form class="mt-4 ms-3" asp-controller="ApiNetwork" asp-action="UploadCsv" enctype="multipart/form-data">

        <div class="input-group">
            <input asp-for="Files" type="file" class="form-control" id="inputGroupFile01" accept=".csv" multiple>
            <label class="input-group-text" for="inputGroupFile01">to upload</label>
        </div>
        <div class="m-3">
            <button type="submit" class="btn btn-primary col-sm-2">Upload</button>
        </div>
    </form>
</div>
<div style="height:300px"></div>

    @section Scripts{
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const rbtns = document.querySelectorAll('input[name="opt-sys-sel"]');
                const txbox = document.getElementById('pre-cod-sqlcmd');

                rbtns.forEach(radio => {
                    radio.addEventListener('change', function() {
                        console.log(this);
                        if(this.checked)
                        {
                            const selectedSys = this.value;
                            txbox.innerText = 'Invoke-Sqlcmd `\r\n  -ServerInstance localhost `\r\n  -Database ' + selectedSys + ' `\r\n  -InputFile .\SELECT_INST_IQX_GEIS.sql | `\r\n  Export-Csv ` \r\n  -Path Exported_Iqx_Network_' + selectedSys +'_$(Get-Date -Format "yyyyMMdd_HHmmss").csv `\r\n  -Encoding UTF8 ` \r\n  -NoTypeInformation';
                        }
                        


                    });
                });
            });
        </script>



    }