@model InstrumentLinkStatus
@{
    ViewData["Title"] = "View Contract Object";
    ViewData["DisplayMode"] = "View";
}

<div class="row mb-2 border-bottom border-3">
    <h3 class="text-center">Instrument Link Status Report</h3>
</div>

<div class="row mb-3">
    <div class="col">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ShareInstr">
            <i class="fa fa-share"></i> Share Text
        </button>

        <!-- Modal -->
        <div class="modal fade" id="ShareInstr" tabindex="-1" aria-labelledby="ShareInstrLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ShareInstrLabel">Share Instrument Connect Status</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <pre>@Model.ShareInfo()</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mb-3">
    <div class="col-lg-2">
        <label class="col-form-label">Serial No.</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text" asp-for="SerialNumber" readonly/>
    </div>

    <div class="col-lg-2">
        <label class="col-form-label">Instrument Type</label>
    </div>
    <div class="col-lg-4">
        <input class="form-control" type="text" asp-for="InstrumentType" readonly />
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-1">
        <label class="col-form-label">System</label>
    </div>
    <div class="col-lg-2">
        <input class="form-control" type="text" asp-for="System" readonly />
    </div>
    <div class="col-lg-2">
        <label class="col-form-label">Network</label>
    </div>
    <div class="col-lg-2">
        <input class="form-control" type="text" asp-for="NetworkId" readonly />
    </div>
    <div class="col-lg-5">
        <input class="form-control" type="text" asp-for="NetworkName" readonly />
    </div>
</div>

<div class="row mb-3 g-2">
    @{

        string Cls_Stat_On = "border-dark bg-success-subtle ";
        string Cls_Stat_Off = "border-danger bg-warning ";


    <div class="col">
        <code>
            <input class="form-control text-center p-2 border-2 @(0 == (Model.StatusFlag & VinlkStatus.MissContract) ? Cls_Stat_On : Cls_Stat_Off))" type="text" value="CONTRACT" readonly />
        </code>
    </div>
    <div class="col">
        <code>
            <input class="form-control text-center p-2 border-2 @(0 == (Model.StatusFlag & VinlkStatus.MissSystem) ? Cls_Stat_On : Cls_Stat_Off))" type="text" value="SYSTEM" readonly />
        </code>
    </div>
    <div class="col">
        <code>
            <input class="form-control text-center p-2 border-2 @(0 == (Model.StatusFlag & VinlkStatus.MissNetwork) ? Cls_Stat_On : Cls_Stat_Off))" type="text" value="NETWORK" readonly />
        </code>
    </div>
    <div class="col-12"></div>
    <div class="col">
        <code>
            <input class="form-control text-center p-2 border-2 @(0 == (Model.StatusFlag & VinlkStatus.LinkedToZero) ? Cls_Stat_On : Cls_Stat_Off))" type="text" value="LINKZERO" readonly />
        </code>
    </div>
    <div class="col">
        <code>
            <input class="form-control text-center p-2 border-2 @(0 == (Model.StatusFlag & VinlkStatus.LinkedToNull) ? Cls_Stat_On : Cls_Stat_Off))" type="text" value="LINKNULL" readonly />
        </code>
    </div>

    <div class="col">
        <code>
            <input class="form-control text-center p-2 border-2 @(0 == (Model.StatusFlag & VinlkStatus.MissAccount) ? Cls_Stat_On : Cls_Stat_Off))" type="text" value="ACCOUNT" readonly />
        </code>
    </div>
    }
</div>

<div class="row mb-3">
    <div class="col-1">
        <label class="col-form-label">Connect-To</label>
    </div>
    <div class="col-2">
        @if (Model.ConnectedTo is null)
        {
            <input class="form-control text-bg-light text-danger border-danger" type="text" value="#N/A" readonly />
        }
        else
        {
            <input class="form-control" type="text" asp-for="ConnectedTo.AccountNumber" readonly />
        }
    </div>
    <div class="col-4">
        @if (Model.ConnectedTo is null)
        {
            <input class="form-control text-bg-light text-danger border-danger" type="text" value="#N/A" readonly />
        }
        else
        {
            <input class="form-control" type="text" asp-for="ConnectedTo.Name" readonly />
        }
    </div>

</div>



<div class="row mb-3">

    <div class="col-2">
        <label class="col-form-label">Connect-To GEIS Guid</label>
    </div>
    <div class="col-5">
        <code>
            <input class="form-control" type="text" asp-for="LinkedAccount" readonly />
        </code>
    </div>
</div>
<div class="row mb-3">

    <div class="col-lg-2">
        <label class="col-form-label">Datacenter Region</label>
    </div>
    <div class="col-lg-2">
        @if (Model.ConnectedTo is null)
        {
            <input class="form-control text-bg-light text-danger border-danger" type="text" value="#N/A" readonly />
        }
        else
        {
            <input class="form-control" type="text" asp-for="ConnectedTo.Region" readonly />
        }
        

    </div>
    <div class="col-lg-3">
        @if (Model.ConnectedTo is null)
        {
            <input class="form-control text-bg-light text-danger border-danger" type="text" value="#N/A" readonly />
        }
        else
        {
            <input class="form-control" type="text" asp-for="ConnectedTo.Country" readonly />
        }
    </div>
</div>



<div class="row mb-3 mt-5">
    <h4>
        Contract Status
    </h4>
</div>
<div class="row mb-3">
    <div class="col-1">
        <label class="col-form-label">Contract</label>
    </div>
    <div class="col-2">
        <input class="form-control" type="text" asp-for="ContractNumber" readonly />
    </div>

    <div class="col-2">
        <label class="col-form-label text-end w-100">Contract Description</label>
    </div>
    <div class="col-5">
        <input class="form-control" type="text" asp-for="Description" readonly />
    </div>
</div>
<div class="row mb-3">
    <div class="col-1">
        <label class="col-form-label">Shipped-To</label>
    </div>
    <div class="col-2">
        <input class="form-control" type="text" asp-for="ShippedToAccountNumber" readonly />
    </div>
    <div class="col-4">
        @if (Model.ShippedTo is null)
        {
            <input class="form-control text-bg-light text-danger border-danger" type="text" value="#N/A" readonly />
        }
        else
        {
            <input class="form-control" type="text" asp-for="ShippedTo.Name" readonly />
        }
    </div>
</div>

<div class="row mb-3">

    <div class="col-2">
        <label class="col-form-label">Shipped-To GEIS Guid</label>
    </div>
    <div class="col-5">
        <code>
            <input class="form-control" type="text" asp-for="ShippedTo.GeisGuid" readonly />
        </code>
    </div>
</div>

<div class="row mb-3">

    <div class="col-lg-2">
        <label class="col-form-label">Datacenter Region</label>
    </div>
    <div class="col-lg-2">
        @if (Model.ShippedTo is null)
        {
            <input class="form-control text-bg-light text-danger border-danger" type="text" value="#N/A" readonly />
        }
        else
        {
            <input class="form-control" type="text" asp-for="ShippedTo.Region" readonly />
        }


    </div>
    <div class="col-lg-3">
        @if (Model.ShippedTo is null)
        {
            <input class="form-control text-bg-light text-danger border-danger" type="text" value="#N/A" readonly />
        }
        else
        {
            <input class="form-control" type="text" asp-for="ShippedTo.Country" readonly />
        }
    </div>
</div>

