@model EqoContractObject
@{
    ViewData["Title"] = "View Contract Object";
    ViewData["DisplayMode"] = "View";
}


<div class="container">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-outline-primary w-100 mb-2 text-start" asp-controller="ContractObject" asp-action="AddOn" asp-route-ContractId="@Model.ContractId">
                <div class="row">
                    <div class="col-1">

                        <i class="fa fa-solid fa-square-plus fa-xl"></i>
                    </div>
                    <div class="col-10">
                        <span>Add To This Contract</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-primary w-100 mb-2 text-start" asp-controller="ContractObject" asp-action="AddOn" asp-route-ContractId="@Model.ContractId" asp-route-AsTemplate="true">
                <div class="row">
                    <div class="col-1">

                        <i class="fa fa-solid fa-book fa-xl"></i>
                    </div>
                    <div class="col-10">
                        <span>Create New from Template:<br /> This Contract</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-outline-danger w-100 mb-2 text-start" asp-controller="ContractObject" asp-action="AddOn" asp-route-ContractId="@Model.ContractId" asp-route-ShipToId="@Model.ShipToId">
                <div class="row">
                    <div class="col-1">

                        <i class="fa fa-solid fa-square-plus fa-xl"></i>
                    </div>
                    <div class="col-10">
                        <span>Add To This Contract & Ship-To</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-danger w-100 mb-2 text-start" asp-controller="ContractObject" asp-action="AddOn" asp-route-ContractId="@Model.ContractId" asp-route-AsTemplate="true">
                <div class="row">
                    <div class="col-1">

                        <i class="fa fa-solid fa-book fa-xl"></i>
                    </div>
                    <div class="col-10">
                        <span>Create New from Template: <br /> This Contract & Ship-To</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="row mt-3 mb-lg-5">
    <div class="col">
        
        <partial name="ContractObjFormPartial" model="Model" />
        <partial name="CopyToTextPartial" model="Model" />
    </div>
</div>



@section Scripts {
    <script>
        const CurrentDisplayMode = @Html.Raw(Json.Serialize(ViewData["DisplayMode"] as string))
        console.log(CurrentDisplayMode);
        console.log(CurrentDisplayMode === "View");
        $("document").ready(
            () =>
            {
                console.log("This is supposed to change all props with input to disabled.");
                $("input").prop("disabled", true);
            }
        );
    </script>
    
    <script src="~/js/contractobj/copyToClipb.js" asp-append-version="true"></script>

}