@{
    ViewData["Title"] = "Organization";

}

@model List<Vorlks>

<div class="row mb-5">
    <div class="col-1">
        <a class="btn btn-outline-primary w-100" role="button" asp-action="index">ALL</a>
    </div>
    <div class="col-2">
        <a class="btn btn-outline-primary w-100" role="button" asp-action="UnkownOnly">UNKOWN</a>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Account</th>
            <th></th>
            <th>#</th>
            <th>IQX Network</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Vorlks o in Model)
    {
        <tr>
            <td>@o.AccountNumber</td>
            @if (o.AccountName is null)
                {
                    if (o.Organization_Linked == Guid.Empty)
                    {
                        <td>
                            IQX Not Connected.
                        </td>
                    }
                    else
                    {
                        <td class="text-danger">
                            UNKNOWN<br />
                            <code>@o.Organization_Linked</code>
                        </td>
                    }
                }
                else
                {
                    <td>
                        @o.AccountName<br />
                        <code>@o.GEIS_Guid</code>
                    </td>
                }
        @if (o.NetworkId is null)
        {
            <td><i class="fa fa-ban text-danger"></i></td>
            <td></td>
                    <td></td>
                }
                else
                {
                    if (o.AccountName is null && o.Organization_Linked == Guid.Empty)
                    {
                        <td class="text-danger"><i class="fa fa-link-slash"></i></td>
                    }
                    else
                    {
                        <td><i class="fa fa-arrows-left-right"></i></td>
                    }
                    
            <td>@o.NetworkId</td>
            <td><i class="fa fa-network-wired me-2"></i>@o.System \ @o.NetworkName</td>
        }
        </tr>
    }
    </tbody>
</table>


