@model EqoContractObject


<td>
    <a class="btn btn-outline-dark border-2 font-monospace" asp-controller="ContractObject" asp-action="ViewContractObject" asp-route-Id="@Model.Id">@Model.Contract!.ContractNumber</a>
    

</td>
<td>@Model.Contract!.Description</td>
<td>
    <a class="btn btn-primary font-monospace">@Model.SerialNumber</a>
    

</td>
<td>@Model.InstrumentType</td>
<td>@Model.ShipTo!.PartnerId | @Model.ShipTo.PartnerName</td>