@model EqoContractObject


<td>@Model.Contract!.ContractNumber</td>
<td>@Model.Contract.Description</td>
<td>@Model.SerialNumber</td>
<td>@Model.InstrumentType</td>
<td>@Model.ShipTo!.PartnerId | @Model.ShipTo.PartnerName</td>