@model Vinlks

<td>
    @{
        string linkIcon = Model.NetworkId == null ? "fa-link-slash" : "fa-link";
        string btnColor = Model.NetworkId == null ? "btn-danger" : "btn-primary";
        string networkId = Model.NetworkId == null ? "???" : Model.NetworkId.Value.ToString();
        string IqxSys = Model.System ?? "???";
    }
    <a class="btn @btnColor font-monospace w-100">
        <div class="col text-start">
            <i class="fa-solid @linkIcon"></i>
            @IqxSys-@networkId
        </div>
        <div class="col text-center">
            @Model.SerialNumber
        </div>
    </a>
</td>

<td>
    <a class="btn btn-outline-dark border-2 font-monospace w-100" asp-controller="ContractObject" asp-action="Detail" asp-route-Id="@Model.ContractId">@Model.ContractNumber</a>
    

</td>
<td>@Model.Description</td>

<td>@Model.InstrumentType</td>
<td>@Model.AccountNumber | @Model.OrgName</td>