@model InstrumentLinkStatus


<td>
    @{
        string linkIcon = Model.NetworkId == null ? "fa-link-slash" : "fa-link";
        string btnColor = Model.NetworkId == null ? "btn-danger" : "btn-primary";
        string networkId = Model.NetworkId == null ? "???" : Model.NetworkId.Value.ToString();
        string disabled = Model.NetworkId == null ? "disabled" : string.Empty;
        string IqxSys = Model.System ?? "???";
    }
    <a class="btn @btnColor font-monospace w-100 @disabled" asp-controller="Syngio" asp-action="NetworkDetail"
       asp-route-System="@Model.System" asp-route-NetworkId="@Model.System">
        <div class="col text-start">
            <i class="fa-solid @linkIcon"></i>
            @IqxSys-@networkId
        </div>
    </a>
    <div class="border border-1 mt-2 p-1 rounded-3">
        <i class="fa fa-network-wired"></i>
        @Model.NetworkName
    </div>
</td>


<td>
    <a class="btn @btnColor font-monospace w-100" asp-controller="ContractObject" asp-action="Detail"
       asp-route-ContractObjectId="@Model.ContractObjId">
        <div class="col text-center">
            @Model.SerialNumber
        </div>
    </a>
</td>

<td>
    @if (0 < (Model.StatusFlag & VinlkStatus.MissContract))
    {
        <div class="align-content-center text-start">

            <i class="fa-solid fa-file-contract fa-2xl"></i>
            <span class="text-danger"><i class="fa-solid fa-ban"></i></span>
        </div>
    }
    else
    {
        <a class="btn btn-outline-dark border-2 font-monospace w-100" asp-controller="ContractObject" asp-action="ByContract" asp-route-ContractNumber="@Model.ContractNumber">@Model.ContractNumber</a>
    }
    

</td>

<td>
    @{
        string fa_icon = Model.ExpireStyle > 0 ? "fa-check-circle" : "fa-circle-exclamation";
        string text_bg = string.Empty;

        switch (Model.ExpireStyle)
        {
            case 0:
                text_bg = "text-bg-danger";
                break;
            case 1:
                text_bg = "text-warning-emphasis";
                break;
            case 2:
                text_bg = "text-bg-warning";
                break;
            case 3:
                text_bg = "text-bg-success";
                break;
        }

    }
    <p class="@text_bg text-center rounded-5"><i class="fa @fa_icon"></i> @Model.ExpiresIn</p>
</td>

<td>
    @if (0 < (Model.StatusFlag & VinlkStatus.LinkedToNull))
    {
        <i class="fa fa-square text-danger"></i>
    }
    else
    {
        <i class="fa fa-square-check"></i>
    }
    @if (0 < (Model.StatusFlag & VinlkStatus.MissSystem))
    {
        <i class="fa fa-square text-danger"></i>
    }
    else
    {
        <i class="fa fa-square-check"></i>
    }
    @if (0 < (Model.StatusFlag & VinlkStatus.MissNetwork))
    {
        <i class="fa fa-square text-danger"></i>
    }
    else
    {
        <i class="fa fa-square-check"></i>
    }
     <br />
    @if (0 < (Model.StatusFlag & VinlkStatus.MissContract))
    {
        <i class="fa fa-square text-danger"></i>
    }
    else
    {
        <i class="fa fa-square-check"></i>
    }
    @if (0 < (Model.StatusFlag & VinlkStatus.LinkedToZero))
    {
        <i class="fa fa-square text-danger"></i>
    }
    else
    {
        <i class="fa fa-square-check"></i>
    }
    @if (0 < (Model.StatusFlag & VinlkStatus.MissAccount))
    {
        <i class="fa fa-square text-danger"></i>
    }
    else
    {
        <i class="fa fa-square-check"></i>
    }
</td>
<td>@Model.Description</td>

<td>@Model.InstrumentType</td>

<td class="align-content-start">
    @if (@Model.ShippedTo is null)
    {
        <a class="btn btn-warning font-monospace w-100 text-start">
            Missing Ship-To
        </a>
    } 
    else
    {
        <a class="btn btn-outline-dark font-monospace w-100 text-start">
            @Model.ShippedTo.AccountNumber | @Model.ShippedTo.Name
        </a>
        
    }

    @if (@Model.ConnectedTo is null)
    {
        <a class="btn btn-danger font-monospace w-100 text-start mt-2">
            Missing Connected-To
        </a>
    }
    else
    {
        <a class="btn btn-outline-dark font-monospace w-100 text-start mt-2">
            @Model.ConnectedTo.AccountNumber | @Model.ConnectedTo.Name
        </a>

    }
</td>

