@model Vinlks


<td>
    @{
        string linkIcon = Model.NetworkId == null ? "fa-link-slash" : "fa-link";
        string btnColor = Model.NetworkId == null ? "btn-danger" : "btn-primary";
        string networkId = Model.NetworkId == null ? "???" : Model.NetworkId.Value.ToString();
        string IqxSys = Model.System ?? "???";
    }
    <a class="btn @btnColor font-monospace w-100" asp-controller="Syngio" asp-action="NetworkDetail"
       asp-route-System="@Model.System" asp-route-NetworkId="@Model.NetworkId">
        <div class="col text-start">
            <i class="fa-solid @linkIcon"></i>
            @IqxSys-@networkId
        </div>
    </a>
</td>


<td>
    <a class="btn @btnColor font-monospace w-100" asp-controller="ContractObject" asp-action="Detail"
       asp-route-ContractObjectId="@Model.ContractObjId">
        <div class="col text-center">
            @Model.SerialNumber
        </div>
    </a>
</td>

<td>
    @if (Model.IsMissingContract)
    {
        <div class="align-content-center text-start">

            <i class="fa-solid fa-file-contract fa-2xl"></i>
            <span class="text-danger"><i class="fa-solid fa-ban"></i></span>
        </div>
    }
    else
    {
        <a class="btn btn-outline-dark border-2 font-monospace w-100" asp-controller="ContractObject" asp-action="ByContract" asp-route-ContractNumber="@Model.ContractNumber">@Model.ContractNumber</a>
    }
    

</td>
<td>@Model.Description</td>

<td>@Model.InstrumentType</td>

<td class="align-content-center">
    @if (Model.IsMissingDblink)
    {
        <div class="w-100 text-danger text-center">
            <i class="fa-solid fa-link-slash fa-2xl"></i>
        </div>
    }
    else if (Model.IsMissingOrgSync)
    {
        <a class="btn btn-danger border-warning border-2 font-monospace w-100">@Model.LinkedAccount</a>
    }
    else
    {

        <a class="btn btn-outline-dark border-2 font-monospace w-100">
            @Model.AccountNumber | @Model.AccountName
        </a>
    }
    </td>

