@model EqoTicketSource


<td>
    <a asp-controller="TicketSource" asp-action="Details" asp-route-Id="@Model.Id">@Model.TicketNumber</a>
</td>
<td>@Model.Description</td>
<td>@Model.Requester?.EmailAddress</td>
<td>@Model.Operations?.EmailAddress</td>
