@model IEnumerable<EqoContract>


<table>
    <thead>
        <tr>
            <th>
                ContractNumber
                    
            </th>
            <th>Description</th>
            <th>ValidFrom</th>
            <th>ValidTo</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="SingleRead" asp-route-ContractID="@item.ContractNumber">
                    @item.ContractNumber
                </a></td>
            <td>@item.Description</td>
            <td>@item.ValidFrom</td>
            <td>@item.ValidTo</td>
        </tr>
    }
</table>