@using EwkQxObd.Core.Model

@{
    ViewData["Title"] = "E-work IQX Onboarding";
}
@model EqoContract

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Contract Details</td>
            </tr>
        </thead>
        <tr>
            <td>Contract Number</td>
            <td>@Model.ContractNumber</td>
        </tr>
        <tr>
            <td>Contract Description</td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>Contract Starts</td>
            <td>@Model.ValidFrom</td>
        </tr>
        <tr>
            <td>Contract End</td>
            <td>@Model.ValidTo</td>
        </tr>
    </table>
</body>
</html>